/* Variables for distances */
$dist-xs : 5px;
$dist-sm : 15px;
$dist-md : 30px;
$dist-lg : 50px;
$dist-xl : 70px;

$dist-side : 85px;






/* padding wrapper classes */

	
/* all screens */	

.reset-padding{
	padding: 0px;
}

.reset-padding-left {
	padding-left: 0px;
}

.reset-padding-right {
	padding-right: 0px;
}

.reset-padding-up {
	padding-top: 0px;
}

.reset-padding-down {
	padding-bottom: 0px;
}

.padding-xl{ padding: $dist-xl; }
.padding-lg{ padding: $dist-lg; }
.padding-md{ padding: $dist-md; }
.padding-sm{ padding: $dist-sm; }
.padding-xs{ padding: $dist-xs; }

.space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
.space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
.space-inside-down-xl{ padding-bottom: $dist-xl;}
.space-inside-up-xl{ padding-top: $dist-xl;}
.space-inside-left-xl{ padding-left: $dist-xl; }
.space-inside-right-xl{ padding-right: $dist-xl; }

.space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
.space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
.space-inside-down-lg{ padding-bottom: $dist-lg;}
.space-inside-up-lg{ padding-top: $dist-lg;}
.space-inside-left-lg{ padding-left: $dist-lg; }
.space-inside-right-lg{ padding-right: $dist-lg; }

.space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
.space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
.space-inside-down-md{ padding-bottom: $dist-md;}
.space-inside-up-md{ padding-top: $dist-md;}
.space-inside-left-md{ padding-left: $dist-md; }
.space-inside-right-md{ padding-right: $dist-md; }

.space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
.space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
.space-inside-down-sm{ padding-bottom: $dist-sm;}
.space-inside-up-sm{ padding-top: $dist-sm;}
.space-inside-left-sm{ padding-left: $dist-sm; }
.space-inside-right-sm{ padding-right: $dist-sm; }

.space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
.space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
.space-inside-down-xs{ padding-bottom: $dist-xs;}
.space-inside-up-xs{ padding-top: $dist-xs;}
.space-inside-left-xs{ padding-left: $dist-xs; }
.space-inside-right-xs{ padding-right: $dist-xs; }	





/* Large desktops and laptops */
@media (min-width: 1200px) {
	

	/* resets */

	.lg-space-inside-xl-none{ padding-top: 0; padding-bottom: 0; }
	.lg-space-inside-sides-xl-none{ padding-left: 0; padding-right: 0; }
	.lg-space-inside-down-xl-none{  padding-bottom: 0; }
	.lg-space-inside-up-xl-none{ padding-top: 0;  }
	.lg-space-inside-left-xl-none{ padding-left: 0; }
	.lg-space-inside-right-xl-none{ padding-right: 0;  }

	.lg-space-inside-lg-none{ padding-top: 0; padding-bottom: 0; }
	.lg-space-inside-sides-lg-none{ padding-left: 0; padding-right: 0; }
	.lg-space-inside-down-lg-none{  padding-bottom: 0; }
	.lg-space-inside-up-lg-none{ padding-top: 0;  }
	.lg-space-inside-left-lg-none{ padding-left: 0; }
	.lg-space-inside-right-lg-none{ padding-right: 0;  }

	.lg-space-inside-md-none{ padding-top: 0; padding-bottom: 0; }
	.lg-space-inside-sides-md-none{ padding-left: 0; padding-right: 0; }
	.lg-space-inside-down-md-none{  padding-bottom: 0; }
	.lg-space-inside-up-md-none{ padding-top: 0;  }
	.lg-space-inside-left-md-none{ padding-left: 0; }
	.lg-space-inside-right-md-none{ padding-right: 0;  }

	.lg-space-inside-sm-none{ padding-top: 0; padding-bottom: 0; }
	.lg-space-inside-sides-sm-none{ padding-left: 0; padding-right: 0; }
	.lg-space-inside-down-sm-none{  padding-bottom: 0; }
	.lg-space-inside-up-sm-none{ padding-top: 0;  }
	.lg-space-inside-left-sm-none{ padding-left: 0; }
	.lg-space-inside-right-sm-none{ padding-right: 0;  }

	.lg-space-inside-xs-none{ padding-top: 0; padding-bottom: 0; }
	.lg-space-inside-sides-xs-none{ padding-left: 0; padding-right: 0; }
	.lg-space-inside-down-xs-none{  padding-bottom: 0; }
	.lg-space-inside-up-xs-none{ padding-top: 0;  }
	.lg-space-inside-left-xs-none{ padding-left: 0; }
	.lg-space-inside-right-xs-none{ padding-right: 0;  }
	
	.lg-padding-xl{ padding: $dist-xl; }
	.lg-padding-lg{ padding: $dist-lg; }
	.lg-padding-md{ padding: $dist-md; }
	.lg-padding-sm{ padding: $dist-sm; }
	.lg-padding-xs{ padding: $dist-xs; }

	.lg-space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
	.lg-space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
	.lg-space-inside-down-xl{ padding-bottom: $dist-xl;}
	.lg-space-inside-up-xl{ padding-top: $dist-xl;}
	.lg-space-inside-left-xl{ padding-left: $dist-xl; }
	.lg-space-inside-right-xl{ padding-right: $dist-xl; }

	.lg-space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.lg-space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.lg-space-inside-down-lg{ padding-bottom: $dist-lg;}
	.lg-space-inside-up-lg{ padding-top: $dist-lg;}
	.lg-space-inside-left-lg{ padding-left: $dist-lg; }
	.lg-space-inside-right-lg{ padding-right: $dist-lg; }

	.lg-space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.lg-space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.lg-space-inside-down-md{ padding-bottom: $dist-md;}
	.lg-space-inside-up-md{ padding-top: $dist-md;}
	.lg-space-inside-left-md{ padding-left: $dist-md; }
	.lg-space-inside-right-md{ padding-right: $dist-md; }

	.lg-space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.lg-space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.lg-space-inside-down-sm{ padding-bottom: $dist-sm;}
	.lg-space-inside-up-sm{ padding-top: $dist-sm;}
	.lg-space-inside-left-sm{ padding-left: $dist-sm; }
	.lg-space-inside-right-sm{ padding-right: $dist-sm; }

	.lg-space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.lg-space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.lg-space-inside-down-xs{ padding-bottom: $dist-xs;}
	.lg-space-inside-up-xs{ padding-top: $dist-xs;}
	.lg-space-inside-left-xs{ padding-left: $dist-xs; }
	.lg-space-inside-right-xs{ padding-right: $dist-xs; }	


}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	/* resets */
	
	.md-space-inside-top-none{ padding-top: 0px; }
	.md-space-inside-left-none{ padding-left: 0px; }
	.md-space-inside-down-none{ padding-bottom: 0px; }
	.md-space-inside-right-none{ padding-right: 0px; }
	.md-space-inside-sides-none{ padding-right: 0px; padding-left: 0px; }
	.md-space-inside-none{ padding-top: 0px; padding-bottom: 0px; }

	.md-space-inside-xl-none{ padding-top: 0; padding-bottom: 0; }
	.md-space-inside-sides-xl-none{ padding-left: 0; padding-right: 0; }
	.md-space-inside-down-xl-none{  padding-bottom: 0; }
	.md-space-inside-up-xl-none{ padding-top: 0;  }
	.md-space-inside-left-xl-none{ padding-left: 0; }
	.md-space-inside-right-xl-none{ padding-right: 0;  }

	.md-space-inside-lg-none{ padding-top: 0; padding-bottom: 0; }
	.md-space-inside-sides-lg-none{ padding-left: 0; padding-right: 0; }
	.md-space-inside-down-lg-none{  padding-bottom: 0; }
	.md-space-inside-up-lg-none{ padding-top: 0;  }
	.md-space-inside-left-lg-none{ padding-left: 0; }
	.md-space-inside-right-lg-none{ padding-right: 0;  }

	.md-space-inside-md-none{ padding-top: 0; padding-bottom: 0; }
	.md-space-inside-sides-md-none{ padding-left: 0; padding-right: 0; }
	.md-space-inside-down-md-none{  padding-bottom: 0; }
	.md-space-inside-up-md-none{ padding-top: 0;  }
	.md-space-inside-left-md-none{ padding-left: 0; }
	.md-space-inside-right-md-none{ padding-right: 0;  }

	.md-space-inside-sm-none{ padding-top: 0; padding-bottom: 0; }
	.md-space-inside-sides-sm-none{ padding-left: 0; padding-right: 0; }
	.md-space-inside-down-sm-none{  padding-bottom: 0; }
	.md-space-inside-up-sm-none{ padding-top: 0;  }
	.md-space-inside-left-sm-none{ padding-left: 0; }
	.md-space-inside-right-sm-none{ padding-right: 0;  }

	.md-space-inside-xs-none{ padding-top: 0; padding-bottom: 0; }
	.md-space-inside-sides-xs-none{ padding-left: 0; padding-right: 0; }
	.md-space-inside-down-xs-none{  padding-bottom: 0; }
	.md-space-inside-up-xs-none{ padding-top: 0;  }
	.md-space-inside-left-xs-none{ padding-left: 0; }
	.md-space-inside-right-xs-none{ padding-right: 0;  }

	.md-padding-xl{ padding: $dist-xl; }
	.md-padding-lg{ padding: $dist-lg; }
	.md-padding-md{ padding: $dist-md; }
	.md-padding-sm{ padding: $dist-sm; }
	.md-padding-xs{ padding: $dist-xs; }

	.md-space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
	.md-space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
	.md-space-inside-down-xl{ padding-bottom: $dist-xl;}
	.md-space-inside-up-xl{ padding-top: $dist-xl;}
	.md-space-inside-left-xl{ padding-left: $dist-xl; }
	.md-space-inside-right-xl{ padding-right: $dist-xl; }

	.md-space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.md-space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.md-space-inside-down-lg{ padding-bottom: $dist-lg;}
	.md-space-inside-up-lg{ padding-top: $dist-lg;}
	.md-space-inside-left-lg{ padding-left: $dist-lg; }
	.md-space-inside-right-lg{ padding-right: $dist-lg; }

	.md-space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.md-space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.md-space-inside-down-md{ padding-bottom: $dist-md;}
	.md-space-inside-up-md{ padding-top: $dist-md;}
	.md-space-inside-left-md{ padding-left: $dist-md; }
	.md-space-inside-right-md{ padding-right: $dist-md; }

	.md-space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.md-space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.md-space-inside-down-sm{ padding-bottom: $dist-sm;}
	.md-space-inside-up-sm{ padding-top: $dist-sm;}
	.md-space-inside-left-sm{ padding-left: $dist-sm; }
	.md-space-inside-right-sm{ padding-right: $dist-sm; }

	.md-space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.md-space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.md-space-inside-down-xs{ padding-bottom: $dist-xs;}
	.md-space-inside-up-xs{ padding-top: $dist-xs;}
	.md-space-inside-left-xs{ padding-left: $dist-xs; }
	.md-space-inside-right-xs{ padding-right: $dist-xs; }	


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
	.xs-reset-padding{
		padding: 0px;
	}

	/* resets */
	

	.sm-space-inside-top-none{ padding-top: 0px; }
	.sm-space-inside-left-none{ padding-left: 0px; }
	.sm-space-inside-down-none{ padding-bottom: 0px; }
	.sm-space-inside-right-none{ padding-right: 0px; }
	.sm-space-inside-sides-none{ padding-right: 0px; padding-left: 0px; }
	.sm-space-inside-none{ padding-top: 0px; padding-bottom: 0px; }

	.xs-space-inside-xl-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-xl-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-xl-none{  padding-bottom: 0; }
	.xs-space-inside-up-xl-none{ padding-top: 0;  }
	.xs-space-inside-left-xl-none{ padding-left: 0; }
	.xs-space-inside-right-xl-none{ padding-right: 0;  }

	.xs-space-inside-lg-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-lg-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-lg-none{  padding-bottom: 0; }
	.xs-space-inside-up-lg-none{ padding-top: 0;  }
	.xs-space-inside-left-lg-none{ padding-left: 0; }
	.xs-space-inside-right-lg-none{ padding-right: 0;  }

	.xs-space-inside-md-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-md-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-md-none{  padding-bottom: 0; }
	.xs-space-inside-up-md-none{ padding-top: 0;  }
	.xs-space-inside-left-md-none{ padding-left: 0; }
	.xs-space-inside-right-md-none{ padding-right: 0;  }

	.xs-space-inside-sm-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-sm-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-sm-none{  padding-bottom: 0; }
	.xs-space-inside-up-sm-none{ padding-top: 0;  }
	.xs-space-inside-left-sm-none{ padding-left: 0; }
	.xs-space-inside-right-sm-none{ padding-right: 0;  }

	.xs-space-inside-xs-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-xs-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-xs-none{  padding-bottom: 0; }
	.xs-space-inside-up-xs-none{ padding-top: 0;  }
	.xs-space-inside-left-xs-none{ padding-left: 0; }
	.xs-space-inside-right-xs-none{ padding-right: 0;  }

	.sm-padding-xl{ padding: $dist-xl; }
	.sm-padding-lg{ padding: $dist-lg; }
	.sm-padding-md{ padding: $dist-md; }
	.sm-padding-sm{ padding: $dist-sm; }
	.sm-padding-xs{ padding: $dist-xs; }

	.sm-space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
	.sm-space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
	.sm-space-inside-down-xl{ padding-bottom: $dist-xl;}
	.sm-space-inside-up-xl{ padding-top: $dist-xl;}
	.sm-space-inside-left-xl{ padding-left: $dist-xl; }
	.sm-space-inside-right-xl{ padding-right: $dist-xl; }

	.sm-space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.sm-space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.sm-space-inside-down-lg{ padding-bottom: $dist-lg;}
	.sm-space-inside-up-lg{ padding-top: $dist-lg;}
	.sm-space-inside-left-lg{ padding-left: $dist-lg; }
	.sm-space-inside-right-lg{ padding-right: $dist-lg; }

	.sm-space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.sm-space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.sm-space-inside-down-md{ padding-bottom: $dist-md;}
	.sm-space-inside-up-md{ padding-top: $dist-md;}
	.sm-space-inside-left-md{ padding-left: $dist-md; }
	.sm-space-inside-right-md{ padding-right: $dist-md; }

	.sm-space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.sm-space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.sm-space-inside-down-sm{ padding-bottom: $dist-sm;}
	.sm-space-inside-up-sm{ padding-top: $dist-sm;}
	.sm-space-inside-left-sm{ padding-left: $dist-sm; }
	.sm-space-inside-right-sm{ padding-right: $dist-sm; }

	.sm-space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.sm-space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.sm-space-inside-down-xs{ padding-bottom: $dist-xs;}
	.sm-space-inside-up-xs{ padding-top: $dist-xs;}
	.sm-space-inside-left-xs{ padding-left: $dist-xs; }
	.sm-space-inside-right-xs{ padding-right: $dist-xs; }




}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	/* resets */
	
	.xs-space-inside-xl-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-xl-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-xl-none{  padding-bottom: 0; }
	.xs-space-inside-up-xl-none{ padding-top: 0;  }
	.xs-space-inside-left-xl-none{ padding-left: 0; }
	.xs-space-inside-right-xl-none{ padding-right: 0;  }

	.xs-space-inside-lg-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-lg-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-lg-none{  padding-bottom: 0; }
	.xs-space-inside-up-lg-none{ padding-top: 0;  }
	.xs-space-inside-left-lg-none{ padding-left: 0; }
	.xs-space-inside-right-lg-none{ padding-right: 0;  }

	.xs-space-inside-md-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-md-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-md-none{  padding-bottom: 0; }
	.xs-space-inside-up-md-none{ padding-top: 0;  }
	.xs-space-inside-left-md-none{ padding-left: 0; }
	.xs-space-inside-right-md-none{ padding-right: 0;  }

	.xs-space-inside-sm-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-sm-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-sm-none{  padding-bottom: 0; }
	.xs-space-inside-up-sm-none{ padding-top: 0;  }
	.xs-space-inside-left-sm-none{ padding-left: 0; }
	.xs-space-inside-right-sm-none{ padding-right: 0;  }

	.xs-space-inside-xs-none{ padding-top: 0; padding-bottom: 0; }
	.xs-space-inside-sides-xs-none{ padding-left: 0; padding-right: 0; }
	.xs-space-inside-down-xs-none{  padding-bottom: 0; }
	.xs-space-inside-up-xs-none{ padding-top: 0;  }
	.xs-space-inside-left-xs-none{ padding-left: 0; }
	.xs-space-inside-right-xs-none{ padding-right: 0;  }

	.xs-padding-xl{ padding: $dist-xl; }
	.xs-padding-lg{ padding: $dist-lg; }
	.xs-padding-md{ padding: $dist-md; }
	.xs-padding-sm{ padding: $dist-sm; }
	.xs-padding-xs{ padding: $dist-xs; }

	.xs-space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
	.xs-space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
	.xs-space-inside-down-xl{ padding-bottom: $dist-xl;}
	.xs-space-inside-up-xl{ padding-top: $dist-xl;}
	.xs-space-inside-left-xl{ padding-left: $dist-xl; }
	.xs-space-inside-right-xl{ padding-right: $dist-xl; }

	.xs-space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.xs-space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.xs-space-inside-down-lg{ padding-bottom: $dist-lg;}
	.xs-space-inside-up-lg{ padding-top: $dist-lg;}
	.xs-space-inside-left-lg{ padding-left: $dist-lg; }
	.xs-space-inside-right-lg{ padding-right: $dist-lg; }

	.xs-space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.xs-space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.xs-space-inside-down-md{ padding-bottom: $dist-md;}
	.xs-space-inside-up-md{ padding-top: $dist-md;}
	.xs-space-inside-left-md{ padding-left: $dist-md; }
	.xs-space-inside-right-md{ padding-right: $dist-md; }

	.xs-space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.xs-space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.xs-space-inside-down-sm{ padding-bottom: $dist-sm;}
	.xs-space-inside-up-sm{ padding-top: $dist-sm;}
	.xs-space-inside-left-sm{ padding-left: $dist-sm; }
	.xs-space-inside-right-sm{ padding-right: $dist-sm; }

	.xs-space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.xs-space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.xs-space-inside-down-xs{ padding-bottom: $dist-xs;}
	.xs-space-inside-up-xs{ padding-top: $dist-xs;}
	.xs-space-inside-left-xs{ padding-left: $dist-xs; }
	.xs-space-inside-right-xs{ padding-right: $dist-xs; }	

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.xs-space-inside-sides-none{ padding-left: 0; padding-right: 0; }
	/* resets */
	
	.-space-inside-xl-none{ padding-top: 0; padding-bottom: 0; }
	.-space-inside-sides-xl-none{ padding-left: 0; padding-right: 0; }
	.-space-inside-down-xl-none{  padding-bottom: 0; }
	.-space-inside-up-xl-none{ padding-top: 0;  }
	.-space-inside-left-xl-none{ padding-left: 0; }
	.-space-inside-right-xl-none{ padding-right: 0;  }

	.-space-inside-lg-none{ padding-top: 0; padding-bottom: 0; }
	.-space-inside-sides-lg-none{ padding-left: 0; padding-right: 0; }
	.-space-inside-down-lg-none{  padding-bottom: 0; }
	.-space-inside-up-lg-none{ padding-top: 0;  }
	.-space-inside-left-lg-none{ padding-left: 0; }
	.-space-inside-right-lg-none{ padding-right: 0;  }

	.-space-inside-md-none{ padding-top: 0; padding-bottom: 0; }
	.-space-inside-sides-md-none{ padding-left: 0; padding-right: 0; }
	.-space-inside-down-md-none{  padding-bottom: 0; }
	.-space-inside-up-md-none{ padding-top: 0;  }
	.-space-inside-left-md-none{ padding-left: 0; }
	.-space-inside-right-md-none{ padding-right: 0;  }

	.-space-inside-sm-none{ padding-top: 0; padding-bottom: 0; }
	.-space-inside-sides-sm-none{ padding-left: 0; padding-right: 0; }
	.-space-inside-down-sm-none{  padding-bottom: 0; }
	.-space-inside-up-sm-none{ padding-top: 0;  }
	.-space-inside-left-sm-none{ padding-left: 0; }
	.-space-inside-right-sm-none{ padding-right: 0;  }

	.-space-inside-xs-none{ padding-top: 0; padding-bottom: 0; }
	.-space-inside-sides-xs-none{ padding-left: 0; padding-right: 0; }
	.-space-inside-down-xs-none{  padding-bottom: 0; }
	.-space-inside-up-xs-none{ padding-top: 0;  }
	.-space-inside-left-xs-none{ padding-left: 0; }
	.-space-inside-right-xs-none{ padding-right: 0;  }	


	.-padding-xl{ padding: $dist-xl; }
	.-padding-lg{ padding: $dist-lg; }
	.-padding-md{ padding: $dist-md; }
	.-padding-sm{ padding: $dist-sm; }
	.-padding-xs{ padding: $dist-xs; }

	.-space-inside-xl{ padding-top: $dist-xl; padding-bottom: $dist-xl;}
	.-space-inside-sides-xl{ padding-left: $dist-xl; padding-right: $dist-xl; }
	.-space-inside-down-xl{ padding-bottom: $dist-xl;}
	.-space-inside-up-xl{ padding-top: $dist-xl;}
	.-space-inside-left-xl{ padding-left: $dist-xl; }
	.-space-inside-right-xl{ padding-right: $dist-xl; }

	.-space-inside-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.-space-inside-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.-space-inside-down-lg{ padding-bottom: $dist-lg;}
	.-space-inside-up-lg{ padding-top: $dist-lg;}
	.-space-inside-left-lg{ padding-left: $dist-lg; }
	.-space-inside-right-lg{ padding-right: $dist-lg; }

	.-space-inside-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.-space-inside-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.-space-inside-down-md{ padding-bottom: $dist-md;}
	.-space-inside-up-md{ padding-top: $dist-md;}
	.-space-inside-left-md{ padding-left: $dist-md; }
	.-space-inside-right-md{ padding-right: $dist-md; }

	.-space-inside-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.-space-inside-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.-space-inside-down-sm{ padding-bottom: $dist-sm;}
	.-space-inside-up-sm{ padding-top: $dist-sm;}
	.-space-inside-left-sm{ padding-left: $dist-sm; }
	.-space-inside-right-sm{ padding-right: $dist-sm; }

	.-space-inside-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.-space-inside-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.-space-inside-down-xs{ padding-bottom: $dist-xs;}
	.-space-inside-up-xs{ padding-top: $dist-xs;}
	.-space-inside-left-xs{ padding-left: $dist-xs; }
	.-space-inside-right-xs{ padding-right: $dist-xs; }	

	
}




/* margin wrapper classes */

	.reset-margin{ margin: 0; }

	.margin-xl{ margin: $dist-xl; }
	.margin-lg{ margin: $dist-lg; }
	.margin-md{ margin: $dist-md; }
	.margin-sm{ margin: $dist-sm; }
	.margin-xs{ margin: $dist-xs; }

	.space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.space-outside-down-xl{ margin-bottom: $dist-xl;}
	.space-outside-up-xl{ margin-top: $dist-xl;}
	.space-outside-left-xl{ margin-left: $dist-xl; }
	.space-outside-right-xl{ margin-right: $dist-xl; }

	.space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.space-outside-down-lg{ margin-bottom: $dist-lg;}
	.space-outside-up-lg{ margin-top: $dist-lg;}
	.space-outside-left-lg{ margin-left: $dist-lg; }
	.space-outside-right-lg{ margin-right: $dist-lg; }

	.space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.space-outside-down-md{ margin-bottom: $dist-md;}
	.space-outside-up-md{ margin-top: $dist-md;}
	.space-outside-left-md{ margin-left: $dist-md; }
	.space-outside-right-md{ margin-right: $dist-md; }

	.space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.space-outside-down-sm{ margin-bottom: $dist-sm;}
	.space-outside-up-sm{ margin-top: $dist-sm;}
	.space-outside-left-sm{ margin-left: $dist-sm; }
	.space-outside-right-sm{ margin-right: $dist-sm; }

	.space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.space-outside-down-xs{ margin-bottom: $dist-xs;}
	.space-outside-up-xs{ margin-top: $dist-xs;}
	.space-outside-left-xs{ margin-left: $dist-xs; }
	.space-outside-right-xs{ margin-right: $dist-xs; }	



/* Large desktops and laptops */
@media (min-width: 1200px) {
	
	/* resets */

	.lg-space-outside-xl-none{ margin-top: 0; margin-bottom: 0; }
	.lg-space-outside-sides-xl-none{ margin-left: 0; margin-right: 0; }
	.lg-space-outside-down-xl-none{  margin-bottom: 0; }
	.lg-space-outside-up-xl-none{ margin-top: 0;  }
	.lg-space-outside-left-xl-none{ margin-left: 0; }
	.lg-space-outside-right-xl-none{ margin-right: 0;  }

	.lg-space-outside-lg-none{ margin-top: 0; margin-bottom: 0; }
	.lg-space-outside-sides-lg-none{ margin-left: 0; margin-right: 0; }
	.lg-space-outside-down-lg-none{  margin-bottom: 0; }
	.lg-space-outside-up-lg-none{ margin-top: 0;  }
	.lg-space-outside-left-lg-none{ margin-left: 0; }
	.lg-space-outside-right-lg-none{ margin-right: 0;  }

	.lg-space-outside-md-none{ margin-top: 0; margin-bottom: 0; }
	.lg-space-outside-sides-md-none{ margin-left: 0; margin-right: 0; }
	.lg-space-outside-down-md-none{  margin-bottom: 0; }
	.lg-space-outside-up-md-none{ margin-top: 0;  }
	.lg-space-outside-left-md-none{ margin-left: 0; }
	.lg-space-outside-right-md-none{ margin-right: 0;  }

	.lg-space-outside-sm-none{ margin-top: 0; margin-bottom: 0; }
	.lg-space-outside-sides-sm-none{ margin-left: 0; margin-right: 0; }
	.lg-space-outside-down-sm-none{  margin-bottom: 0; }
	.lg-space-outside-up-sm-none{ margin-top: 0;  }
	.lg-space-outside-left-sm-none{ margin-left: 0; }
	.lg-space-outside-right-sm-none{ margin-right: 0;  }

	.lg-space-outside-xs-none{ margin-top: 0; margin-bottom: 0; }
	.lg-space-outside-sides-xs-none{ margin-left: 0; margin-right: 0; }
	.lg-space-outside-down-xs-none{  margin-bottom: 0; }
	.lg-space-outside-up-xs-none{ margin-top: 0;  }
	.lg-space-outside-left-xs-none{ margin-left: 0; }
	.lg-space-outside-right-xs-none{ margin-right: 0;  }


	.lg-margin-xl{ margin: $dist-xl; }
	.lg-margin-lg{ margin: $dist-lg; }
	.lg-margin-md{ margin: $dist-md; }
	.lg-margin-sm{ margin: $dist-sm; }
	.lg-margin-xs{ margin: $dist-xs; }

	.lg-space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.lg-space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.lg-space-outside-down-xl{ margin-bottom: $dist-xl;}
	.lg-space-outside-up-xl{ margin-top: $dist-xl;}
	.lg-space-outside-left-xl{ margin-left: $dist-xl; }
	.lg-space-outside-right-xl{ margin-right: $dist-xl; }

	.lg-space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.lg-space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.lg-space-outside-down-lg{ margin-bottom: $dist-lg;}
	.lg-space-outside-up-lg{ margin-top: $dist-lg;}
	.lg-space-outside-left-lg{ margin-left: $dist-lg; }
	.lg-space-outside-right-lg{ margin-right: $dist-lg; }

	.lg-space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.lg-space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.lg-space-outside-down-md{ margin-bottom: $dist-md;}
	.lg-space-outside-up-md{ margin-top: $dist-md;}
	.lg-space-outside-left-md{ margin-left: $dist-md; }
	.lg-space-outside-right-md{ margin-right: $dist-md; }

	.lg-space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.lg-space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.lg-space-outside-down-sm{ margin-bottom: $dist-sm;}
	.lg-space-outside-up-sm{ margin-top: $dist-sm;}
	.lg-space-outside-left-sm{ margin-left: $dist-sm; }
	.lg-space-outside-right-sm{ margin-right: $dist-sm; }

	.lg-space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.lg-space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.lg-space-outside-down-xs{ margin-bottom: $dist-xs;}
	.lg-space-outside-up-xs{ margin-top: $dist-xs;}
	.lg-space-outside-left-xs{ margin-left: $dist-xs; }
	.lg-space-outside-right-xs{ margin-right: $dist-xs; }	


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	/* resets */

	.md-space-outside-xl-none{ margin-top: 0; margin-bottom: 0; }
	.md-space-outside-sides-xl-none{ margin-left: 0; margin-right: 0; }
	.md-space-outside-down-xl-none{  margin-bottom: 0; }
	.md-space-outside-up-xl-none{ margin-top: 0;  }
	.md-space-outside-left-xl-none{ margin-left: 0; }
	.md-space-outside-right-xl-none{ margin-right: 0;  }

	.md-space-outside-lg-none{ margin-top: 0; margin-bottom: 0; }
	.md-space-outside-sides-lg-none{ margin-left: 0; margin-right: 0; }
	.md-space-outside-down-lg-none{  margin-bottom: 0; }
	.md-space-outside-up-lg-none{ margin-top: 0;  }
	.md-space-outside-left-lg-none{ margin-left: 0; }
	.md-space-outside-right-lg-none{ margin-right: 0;  }

	.md-space-outside-md-none{ margin-top: 0; margin-bottom: 0; }
	.md-space-outside-sides-md-none{ margin-left: 0; margin-right: 0; }
	.md-space-outside-down-md-none{  margin-bottom: 0; }
	.md-space-outside-up-md-none{ margin-top: 0;  }
	.md-space-outside-left-md-none{ margin-left: 0; }
	.md-space-outside-right-md-none{ margin-right: 0;  }

	.md-space-outside-sm-none{ margin-top: 0; margin-bottom: 0; }
	.md-space-outside-sides-sm-none{ margin-left: 0; margin-right: 0; }
	.md-space-outside-down-sm-none{  margin-bottom: 0; }
	.md-space-outside-up-sm-none{ margin-top: 0;  }
	.md-space-outside-left-sm-none{ margin-left: 0; }
	.md-space-outside-right-sm-none{ margin-right: 0;  }

	.md-space-outside-xs-none{ margin-top: 0; margin-bottom: 0; }
	.md-space-outside-sides-xs-none{ margin-left: 0; margin-right: 0; }
	.md-space-outside-down-xs-none{  margin-bottom: 0; }
	.md-space-outside-up-xs-none{ margin-top: 0;  }
	.md-space-outside-left-xs-none{ margin-left: 0; }
	.md-space-outside-right-xs-none{ margin-right: 0;  }

	.md-margin-xl{ margin: $dist-xl; }
	.md-margin-lg{ margin: $dist-lg; }
	.md-margin-md{ margin: $dist-md; }
	.md-margin-sm{ margin: $dist-sm; }
	.md-margin-xs{ margin: $dist-xs; }

	.md-space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.md-space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.md-space-outside-down-xl{ margin-bottom: $dist-xl;}
	.md-space-outside-up-xl{ margin-top: $dist-xl;}
	.md-space-outside-left-xl{ margin-left: $dist-xl; }
	.md-space-outside-right-xl{ margin-right: $dist-xl; }

	.md-space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.md-space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.md-space-outside-down-lg{ margin-bottom: $dist-lg;}
	.md-space-outside-up-lg{ margin-top: $dist-lg;}
	.md-space-outside-left-lg{ margin-left: $dist-lg; }
	.md-space-outside-right-lg{ margin-right: $dist-lg; }

	.md-space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.md-space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.md-space-outside-down-md{ margin-bottom: $dist-md;}
	.md-space-outside-up-md{ margin-top: $dist-md;}
	.md-space-outside-left-md{ margin-left: $dist-md; }
	.md-space-outside-right-md{ margin-right: $dist-md; }

	.md-space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.md-space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.md-space-outside-down-sm{ margin-bottom: $dist-sm;}
	.md-space-outside-up-sm{ margin-top: $dist-sm;}
	.md-space-outside-left-sm{ margin-left: $dist-sm; }
	.md-space-outside-right-sm{ margin-right: $dist-sm; }

	.md-space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.md-space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.md-space-outside-down-xs{ margin-bottom: $dist-xs;}
	.md-space-outside-up-xs{ margin-top: $dist-xs;}
	.md-space-outside-left-xs{ margin-left: $dist-xs; }
	.md-space-outside-right-xs{ margin-right: $dist-xs; }	


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	/* resets */

	.sm-space-outside-xl-none{ margin-top: 0; margin-bottom: 0; }
	.sm-space-outside-sides-xl-none{ margin-left: 0; margin-right: 0; }
	.sm-space-outside-down-xl-none{  margin-bottom: 0; }
	.sm-space-outside-up-xl-none{ margin-top: 0;  }
	.sm-space-outside-left-xl-none{ margin-left: 0; }
	.sm-space-outside-right-xl-none{ margin-right: 0;  }

	.sm-space-outside-lg-none{ margin-top: 0; margin-bottom: 0; }
	.sm-space-outside-sides-lg-none{ margin-left: 0; margin-right: 0; }
	.sm-space-outside-down-lg-none{  margin-bottom: 0; }
	.sm-space-outside-up-lg-none{ margin-top: 0;  }
	.sm-space-outside-left-lg-none{ margin-left: 0; }
	.sm-space-outside-right-lg-none{ margin-right: 0;  }

	.sm-space-outside-md-none{ margin-top: 0; margin-bottom: 0; }
	.sm-space-outside-sides-md-none{ margin-left: 0; margin-right: 0; }
	.sm-space-outside-down-md-none{  margin-bottom: 0; }
	.sm-space-outside-up-md-none{ margin-top: 0;  }
	.sm-space-outside-left-md-none{ margin-left: 0; }
	.sm-space-outside-right-md-none{ margin-right: 0;  }

	.sm-space-outside-sm-none{ margin-top: 0; margin-bottom: 0; }
	.sm-space-outside-sides-sm-none{ margin-left: 0; margin-right: 0; }
	.sm-space-outside-down-sm-none{  margin-bottom: 0; }
	.sm-space-outside-up-sm-none{ margin-top: 0;  }
	.sm-space-outside-left-sm-none{ margin-left: 0; }
	.sm-space-outside-right-sm-none{ margin-right: 0;  }

	.sm-space-outside-xs-none{ margin-top: 0; margin-bottom: 0; }
	.sm-space-outside-sides-xs-none{ margin-left: 0; margin-right: 0; }
	.sm-space-outside-down-xs-none{  margin-bottom: 0; }
	.sm-space-outside-up-xs-none{ margin-top: 0;  }
	.sm-space-outside-left-xs-none{ margin-left: 0; }
	.sm-space-outside-right-xs-none{ margin-right: 0;  }

	.sm-margin-xl{ margin: $dist-xl; }
	.sm-margin-lg{ margin: $dist-lg; }
	.sm-margin-md{ margin: $dist-md; }
	.sm-margin-sm{ margin: $dist-sm; }
	.sm-margin-xs{ margin: $dist-xs; }

	.sm-space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.sm-space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.sm-space-outside-down-xl{ margin-bottom: $dist-xl;}
	.sm-space-outside-up-xl{ margin-top: $dist-xl;}
	.sm-space-outside-left-xl{ margin-left: $dist-xl; }
	.sm-space-outside-right-xl{ margin-right: $dist-xl; }

	.sm-space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.sm-space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.sm-space-outside-down-lg{ margin-bottom: $dist-lg;}
	.sm-space-outside-up-lg{ margin-top: $dist-lg;}
	.sm-space-outside-left-lg{ margin-left: $dist-lg; }
	.sm-space-outside-right-lg{ margin-right: $dist-lg; }

	.sm-space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.sm-space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.sm-space-outside-down-md{ margin-bottom: $dist-md;}
	.sm-space-outside-up-md{ margin-top: $dist-md;}
	.sm-space-outside-left-md{ margin-left: $dist-md; }
	.sm-space-outside-right-md{ margin-right: $dist-md; }

	.sm-space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.sm-space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.sm-space-outside-down-sm{ margin-bottom: $dist-sm;}
	.sm-space-outside-up-sm{ margin-top: $dist-sm;}
	.sm-space-outside-left-sm{ margin-left: $dist-sm; }
	.sm-space-outside-right-sm{ margin-right: $dist-sm; }

	.sm-space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.sm-space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.sm-space-outside-down-xs{ margin-bottom: $dist-xs;}
	.sm-space-outside-up-xs{ margin-top: $dist-xs;}
	.sm-space-outside-left-xs{ margin-left: $dist-xs; }
	.sm-space-outside-right-xs{ margin-right: $dist-xs; }	

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	/* resets */

	.xs-space-outside-xl-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-xl-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-xl-none{  margin-bottom: 0; }
	.xs-space-outside-up-xl-none{ margin-top: 0;  }
	.xs-space-outside-left-xl-none{ margin-left: 0; }
	.xs-space-outside-right-xl-none{ margin-right: 0;  }

	.xs-space-outside-lg-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-lg-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-lg-none{  margin-bottom: 0; }
	.xs-space-outside-up-lg-none{ margin-top: 0;  }
	.xs-space-outside-left-lg-none{ margin-left: 0; }
	.xs-space-outside-right-lg-none{ margin-right: 0;  }

	.xs-space-outside-md-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-md-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-md-none{  margin-bottom: 0; }
	.xs-space-outside-up-md-none{ margin-top: 0;  }
	.xs-space-outside-left-md-none{ margin-left: 0; }
	.xs-space-outside-right-md-none{ margin-right: 0;  }

	.xs-space-outside-sm-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-sm-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-sm-none{  margin-bottom: 0; }
	.xs-space-outside-up-sm-none{ margin-top: 0;  }
	.xs-space-outside-left-sm-none{ margin-left: 0; }
	.xs-space-outside-right-sm-none{ margin-right: 0;  }

	.xs-space-outside-xs-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-xs-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-xs-none{  margin-bottom: 0; }
	.xs-space-outside-up-xs-none{ margin-top: 0;  }
	.xs-space-outside-left-xs-none{ margin-left: 0; }
	.xs-space-outside-right-xs-none{ margin-right: 0;  }

	.xs-margin-xl{ margin: $dist-xl; }
	.xs-margin-lg{ margin: $dist-lg; }
	.xs-margin-md{ margin: $dist-md; }
	.xs-margin-sm{ margin: $dist-sm; }
	.xs-margin-xs{ margin: $dist-xs; }

	.xs-space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.xs-space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.xs-space-outside-down-xl{ margin-bottom: $dist-xl;}
	.xs-space-outside-up-xl{ margin-top: $dist-xl;}
	.xs-space-outside-left-xl{ margin-left: $dist-xl; }
	.xs-space-outside-right-xl{ margin-right: $dist-xl; }

	.xs-space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.xs-space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.xs-space-outside-down-lg{ margin-bottom: $dist-lg;}
	.xs-space-outside-up-lg{ margin-top: $dist-lg;}
	.xs-space-outside-left-lg{ margin-left: $dist-lg; }
	.xs-space-outside-right-lg{ margin-right: $dist-lg; }

	.xs-space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.xs-space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.xs-space-outside-down-md{ margin-bottom: $dist-md;}
	.xs-space-outside-up-md{ margin-top: $dist-md;}
	.xs-space-outside-left-md{ margin-left: $dist-md; }
	.xs-space-outside-right-md{ margin-right: $dist-md; }

	.xs-space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.xs-space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.xs-space-outside-down-sm{ margin-bottom: $dist-sm;}
	.xs-space-outside-up-sm{ margin-top: $dist-sm;}
	.xs-space-outside-left-sm{ margin-left: $dist-sm; }
	.xs-space-outside-right-sm{ margin-right: $dist-sm; }

	.xs-space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.xs-space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.xs-space-outside-down-xs{ margin-bottom: $dist-xs;}
	.xs-space-outside-up-xs{ margin-top: $dist-xs;}
	.xs-space-outside-left-xs{ margin-left: $dist-xs; }
	.xs-space-outside-right-xs{ margin-right: $dist-xs; }	

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	/* resets */

	.xs-space-outside-xl-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-xl-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-xl-none{  margin-bottom: 0; }
	.xs-space-outside-up-xl-none{ margin-top: 0;  }
	.xs-space-outside-left-xl-none{ margin-left: 0; }
	.xs-space-outside-right-xl-none{ margin-right: 0;  }

	.xs-space-outside-lg-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-lg-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-lg-none{  margin-bottom: 0; }
	.xs-space-outside-up-lg-none{ margin-top: 0;  }
	.xs-space-outside-left-lg-none{ margin-left: 0; }
	.xs-space-outside-right-lg-none{ margin-right: 0;  }

	.xs-space-outside-md-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-md-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-md-none{  margin-bottom: 0; }
	.xs-space-outside-up-md-none{ margin-top: 0;  }
	.xs-space-outside-left-md-none{ margin-left: 0; }
	.xs-space-outside-right-md-none{ margin-right: 0;  }

	.xs-space-outside-sm-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-sm-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-sm-none{  margin-bottom: 0; }
	.xs-space-outside-up-sm-none{ margin-top: 0;  }
	.xs-space-outside-left-sm-none{ margin-left: 0; }
	.xs-space-outside-right-sm-none{ margin-right: 0;  }

	.xs-space-outside-xs-none{ margin-top: 0; margin-bottom: 0; }
	.xs-space-outside-sides-xs-none{ margin-left: 0; margin-right: 0; }
	.xs-space-outside-down-xs-none{  margin-bottom: 0; }
	.xs-space-outside-up-xs-none{ margin-top: 0;  }
	.xs-space-outside-left-xs-none{ margin-left: 0; }
	.xs-space-outside-right-xs-none{ margin-right: 0;  }

	.xs-margin-xl{ margin: $dist-xl; }
	.xs-margin-lg{ margin: $dist-lg; }
	.xs-margin-md{ margin: $dist-md; }
	.xs-margin-sm{ margin: $dist-sm; }
	.xs-margin-xs{ margin: $dist-xs; }

	.xs-space-outside-xl{ margin-top: $dist-xl; margin-bottom: $dist-xl;}
	.xs-space-outside-sides-xl{ margin-left: $dist-xl; margin-right: $dist-xl; }
	.xs-space-outside-down-xl{ margin-bottom: $dist-xl;}
	.xs-space-outside-up-xl{ margin-top: $dist-xl;}
	.xs-space-outside-left-xl{ margin-left: $dist-xl; }
	.xs-space-outside-right-xl{ margin-right: $dist-xl; }

	.xs-space-outside-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.xs-space-outside-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.xs-space-outside-down-lg{ margin-bottom: $dist-lg;}
	.xs-space-outside-up-lg{ margin-top: $dist-lg;}
	.xs-space-outside-left-lg{ margin-left: $dist-lg; }
	.xs-space-outside-right-lg{ margin-right: $dist-lg; }

	.xs-space-outside-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.xs-space-outside-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.xs-space-outside-down-md{ margin-bottom: $dist-md;}
	.xs-space-outside-up-md{ margin-top: $dist-md;}
	.xs-space-outside-left-md{ margin-left: $dist-md; }
	.xs-space-outside-right-md{ margin-right: $dist-md; }

	.xs-space-outside-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.xs-space-outside-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.xs-space-outside-down-sm{ margin-bottom: $dist-sm;}
	.xs-space-outside-up-sm{ margin-top: $dist-sm;}
	.xs-space-outside-left-sm{ margin-left: $dist-sm; }
	.xs-space-outside-right-sm{ margin-right: $dist-sm; }

	.xs-space-outside-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.xs-space-outside-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.xs-space-outside-down-xs{ margin-bottom: $dist-xs;}
	.xs-space-outside-up-xs{ margin-top: $dist-xs;}
	.xs-space-outside-left-xs{ margin-left: $dist-xs; }
	.xs-space-outside-right-xs{ margin-right: $dist-xs; }	
}




/* sections limits */




.max-height-xs{ max-height: 110px; overflow: hidden; }

.min-height-xs{ min-height: 110px; }






/* responsive column centering */

.all-row-centered{ text-align: center; }
.all-col-centered{ 	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px; }


/* Large desktops and laptops */
@media (min-width: 1200px) {
	

	.lg-row-centered {
	    text-align: center;
	}

	.lg-col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	}

}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.md-row-centered {
	    text-align: center;
	}

	.md-col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.sm-row-centered {
	    text-align: center;
	}

	.sm-col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.xs-row-centered {
	    text-align: center;
	}

	.xs-col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	}


}

/* Portrait phones and smaller */
@media (max-width: 480px) {


	.xs-row-centered {
	    text-align: center;
	}

	.xs-col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	}


}

	



/* Large desktops and laptops */
@media (min-width: 1200px) {
	
	.lg-text-center{
		text-align: center;
	}


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.md-text-center{
		text-align: center;
	}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.sm-text-center{
		text-align: center;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.xs-text-center{
		text-align: center;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.xs-text-center{
		text-align: center;
	}

}


.auto{ margin-left: auto; margin-right: auto; }








/* HEADINGS AND TEXT */


a{
	color: #111111;
}




/* text */





/* positioning */

.clear-floats{
	float: none;
}


.left{
	float: left;
}

.right{
	float: right;
}

.clear-right{
	clear: right;
}

.clear-left{
	clear: left;
}

.clear-both{
	clear: both;
}

.no-overflow{
	overflow: hidden;
}

.no-overflow-x {
	overflow-x: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}


.overflow-y-auto {
	overflow-y: auto;
}

.overflow-auto {
	overflow: auto;
}

.vertical-scrollbar {
	overflow-y: scroll;

}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  @extend .bg-main-darken-xs;
}
T

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}







/* shapes Afmetingen voor cirkels, rechthoeken etc */






/* Large desktops and laptops */
@media (min-width: 1200px) {

	.lg-circle-lg{
		width: $circle-dist-lg;
		height: $circle-dist-lg;

	}

	.lg-rect-xl{
		max-width: 550px;
		max-height: 300px;
	}

	.lg-rect-lg{
		width: 300px;
		height: 200px;
	}

}















/* media queries for copy */


/* Large desktops and laptops */
@media (min-width: 1200px) {
	



}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {



}

/* Portrait phones and smaller */
@media (max-width: 480px) {


}



.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}