

.divider{
	width: 100%;
	height: 1px; 
	clear: both;
}










/* input fields */


.input{
	border: none;
	
}


@media (max-width: 768px) { 
	
	.input{
		width: 100% !important;
	}

	.textarea{
		width: 100% !important;
	}

}

@media (min-width: 768px) and (max-width: 970px) { 
	
	.input{
		width: 100% !important;
	}

	.textarea{
		width: 100% !important;
	}

 }

/* images */






/* inputs */



.textarea{
		
	resize: none;	
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-left: 0px;	

}




/* overlay */

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;
}

	








.rect-sm{
	width: 150px;
	height: 150px;
}

.rect-md{
	
}

.rect-lg{
	width: 225px;
	height: 225px;	
}

.rect-xl{
	max-width: 550px;
	max-height: 300px;
}






/* slider */

.a-slider{
	width: 40px;
	font-size: 40px;
	color: white;
}

.a-slider:hover{
	color:white;
}

.slider-arrow{
	position: absolute;
	margin: auto;
	bottom: 45%;
  	width: 50px;
	background-color: black;
	opacity:0.8;
}

.slider-arrow-left{
  	left: 1%;
}

.slider-arrow-right{
	right: 1%;
}

.banner{
	
	padding-top: 80px;
	overflow: hidden;
	height: 440px;
	position: relative;
	
	.overlay-banner{
		position: absolute;
		background: rgba(0,0,0,0.25);
		top: 0;
		left: 0;
		width: 100%;
		height: 440px;
		z-index: -9;
		background: -moz-linear-gradient(left,  rgba(237,244,244,0) 0%, rgba(237,244,244,0.2) 26%, rgba(237,244,244,0.86) 40%, rgba(237,244,244,1) 46%, rgba(237,244,244,1) 49%, rgba(237,244,244,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(237,244,244,0) 0%,rgba(237,244,244,0.2) 26%,rgba(237,244,244,0.86) 40%,rgba(237,244,244,1) 46%,rgba(237,244,244,1) 49%,rgba(237,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(237,244,244,0) 0%,rgba(237,244,244,0.2) 26%,rgba(237,244,244,0.86) 40%,rgba(237,244,244,1) 46%,rgba(237,244,244,1) 49%,rgba(237,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edf4f4', endColorstr='#edf4f4',GradientType=1 ); /* IE6-9 */
	}

	img{

		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		z-index: -10;

	}
	.underlay{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 0%;
		height: 500px;
		z-index: -10;
	}

}

.border-top-md-blue{
	border:solid 5px #1D80BB;
}

.border-top-md-red{
	border:solid 5px #1D80BB;
}