@media (max-width: 767px) {
    .xs-text-left { text-align: left; }
    .xs-text-right { text-align: right; }
    .xs-text-center { text-align: center; }

    .xs-font-md { font-size: $font-size-md; }

    .xs-font-xs{ font-size: $font-size-xs; }
    .xs-font-sm{ font-size: $font-size-sm; }
    .xs-font-md{ font-size: $font-size-md; }
    .xs-font-lg{ font-size: $font-size-lg; }
}
  