.wrapper {
    display: flex;
    
    align-items: stretch;
  
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    overflow-y: scroll;
    height: 100vh;
    background: #F6F6F6;
   
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; 

    &.active {
        margin-left: -250px;
    }
}

#sidebar.active {

    margin-left: -250px;
   
}





#sidebar ul li a:hover {

  
}

#sidebar ul li.active > a, a[aria-expanded="true"] {

}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

#content {
    min-width: 100%;    
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
  }

.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}

.no-scroll{
    overflow: hidden;
}

