/* Large desktops and laptops */
@media (min-width: 1200px) {
	.lg-reset-padding {
		padding: 0px;
	}

	
	/* resets */	
	.lg-padding-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.lg-padding-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.lg-padding-down-lg{ padding-bottom: $dist-lg;}
	.lg-padding-up-lg{ padding-top: $dist-lg;}
	.lg-padding-left-lg{ padding-left: $dist-lg; }
	.lg-padding-right-lg{ padding-right: $dist-lg; }

	.lg-padding-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.lg-padding-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.lg-padding-down-md{ padding-bottom: $dist-md;}
	.lg-padding-up-md{ padding-top: $dist-md;}
	.lg-padding-left-md{ padding-left: $dist-md; }
	.lg-padding-right-md{ padding-right: $dist-md; }

	.lg-padding-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.lg-padding-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.lg-padding-down-sm{ padding-bottom: $dist-sm;}
	.lg-padding-up-sm{ padding-top: $dist-sm;}
	.lg-padding-left-sm{ padding-left: $dist-sm; }
	.lg-padding-right-sm{ padding-right: $dist-sm; }

	.lg-padding-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.lg-padding-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.lg-padding-down-xs{ padding-bottom: $dist-xs;}
	.lg-padding-up-xs{ padding-top: $dist-xs;}
	.lg-padding-left-xs{ padding-left: $dist-xs; }
	.lg-padding-right-xs{ padding-right: $dist-xs; }	


}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	
	/* resets */
	.lg-margin-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.lg-margin-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.lg-margin-down-lg{ margin-bottom: $dist-lg;}
	.lg-margin-up-lg{ margin-top: $dist-lg;}
	.lg-margin-left-lg{ margin-left: $dist-lg; }
	.lg-margin-right-lg{ margin-right: $dist-lg; }

	.lg-margin-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.lg-margin-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.lg-margin-down-md{ margin-bottom: $dist-md;}
	.lg-margin-up-md{ margin-top: $dist-md;}
	.lg-margin-left-md{ margin-left: $dist-md; }
	.lg-margin-right-md{ margin-right: $dist-md; }

	.lg-margin-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.lg-margin-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.lg-margin-down-sm{ margin-bottom: $dist-sm;}
	.lg-margin-up-sm{ margin-top: $dist-sm;}
	.lg-margin-left-sm{ margin-left: $dist-sm; }
	.lg-margin-right-sm{ margin-right: $dist-sm; }

	.lg-margin-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.lg-margin-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.lg-margin-down-xs{ margin-bottom: $dist-xs;}
	.lg-margin-up-xs{ margin-top: $dist-xs;}
	.lg-margin-left-xs{ margin-left: $dist-xs; }
	.lg-margin-right-xs{ margin-right: $dist-xs; }	
}




