@media (min-width: 768px) and (max-width: 991px) {
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }
    .sm-text-center { text-align: center; }        
    .sm-font-md { font-size: $font-size-md; }

    
    
}
  