html, body, div, span, h1, h2, p, a, img, li, form, label, table, tbody, thead, tr, th, td,
footer, header, hgroup, button,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a { text-decoration: none; }


