

// text colors
$main: #333742;
$secondary: #60C981;
$accent: #F5F5F5;
$tertiary: #262A34;

$light: white;
$dark: #211d1e;

// standard colors
$danger: #fb0a28;
$success: #4cceac;


// spacing variables
$dist-xs : 5px;
$dist-sm : 15px;
$dist-md : 30px;
$dist-lg : 50px;

$dist-side : 85px;

// font sizes for lg screens
$lg-font-size-xs: 14px;
$lg-font-size-sm: 16px;
$lg-font-size-md: 25px;
$lg-font-size-lg: 30px;

// font sizes for lg screens
$md-font-size-xs: 12px;
$md-font-size-sm: 14px;
$md-font-size-md: 20px;
$md-font-size-lg: 25px;

// font sizes for lg screens
$sm-font-size-xs: 14px;
$sm-font-size-sm: 16px;
$sm-font-size-md: 18px;
$sm-font-size-lg: 21px; 

// font sizes for xs screens
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 30px;

$font: 'Open Sans', sans-serif;
$font-heading: 'Open Sans', sans-serif;

/* letter spacing variables */

$letter-space-xs: 1px;
$letter-space-sm: 2px;
$letter-space-md: 3px;
$letter-space-lg: 4px;
$letter-space-xl: 5px;

$line-space-xs: 25px;
$line-space-sm: 28px;
$line-space-md: 3px;
$line-space-lg: 4px;
$line-space-xl: 5px;



$opacity-xs: 0.85;
$opacity-sm: 0.70;

$border-radius: 5px;

$border-thickness-default: 1px;
$border-thickness-xs: 2px;
$border-thickness-sm: 3px;
$border-thickness-md: 4px;