/* Large desktops and laptops */
@media (max-width: 767px) {
    .material-input ~ * {
        overflow: hidden;
    }

    .material-input {
        position: relative;
        overflow: hidden;
        height: 50px;

        input, label {
            font-size: 16px;
        }
        
        input, label, .icon, .bottom-bar {
            position: absolute;
            transition: 0.2s ease-in-out;
            transform:top left margin width;
        }

        input, .bottom-bar{
            bottom: 0px;
        }

        label{
            bottom: 7px;
            left: 30px;
        }
        
        .icon{
            color: $accent; 
            bottom: 5px;
        }

        input:focus ~ .icon, input:valid ~ .icon{
            color: $secondary !important;
        }

        .bottom-bar{
            width: 0px;
            z-index: 3;
        }

        input{
            width: 100%;
            z-index: 1;
            border: none;
            border-bottom: 1px solid $accent;
            padding-bottom: 7px;
            &:focus{
                border: none;
            }
        }

        input:focus ~ .bottom-bar, input:valid ~ .bottom-bar {
            width: 100%;
            height: 3px;
            background: $secondary;
            z-index: 20;
        }

        input:focus, input:valid {
            padding-left: 30px;
            border: none;
        }

        input:focus ~ label, input:valid ~ label {
            bottom: 35px;
            left: 0px;
            color: $secondary !important;
            font-size: 12px;
        }
    }
}
        