/* Large desktops and laptops */
@media (max-width: 767px) {
	
	/* resets */	
	.xs-padding-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.xs-padding-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.xs-padding-down-xs{ padding-bottom: $dist-xs;}
	.xs-padding-up-xs{ padding-top: $dist-xs;}
	.xs-padding-left-xs{ padding-left: $dist-xs; }
	.xs-padding-right-xs{ padding-right: $dist-xs; }

	.xs-padding-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.xs-padding-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.xs-padding-down-md{ padding-bottom: $dist-md;}
	.xs-padding-up-md{ padding-top: $dist-md;}
	.xs-padding-left-md{ padding-left: $dist-md; }
	.xs-padding-right-md{ padding-right: $dist-md; }

	.xs-padding-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.xs-padding-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.xs-padding-down-xs{ padding-bottom: $dist-xs;}
	.xs-padding-up-xs{ padding-top: $dist-xs;}
	.xs-padding-left-xs{ padding-left: $dist-xs; }
	.xs-padding-right-xs{ padding-right: $dist-xs; }

	.xs-padding-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.xs-padding-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.xs-padding-down-xs{ padding-bottom: $dist-xs;}
	.xs-padding-up-xs{ padding-top: $dist-xs;}
	.xs-padding-left-xs{ padding-left: $dist-xs; }
	.xs-padding-right-xs{ padding-right: $dist-xs; }	

}

/* Large desktops and laptops */
@media (max-width: 767px) {
	
	/* resets */
	.xs-margin-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.xs-margin-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.xs-margin-down-xs{ margin-bottom: $dist-xs;}
	.xs-margin-up-xs{ margin-top: $dist-xs;}
	.xs-margin-left-xs{ margin-left: $dist-xs; }
	.xs-margin-right-xs{ margin-right: $dist-xs; }

	.xs-margin-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.xs-margin-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.xs-margin-down-md{ margin-bottom: $dist-md;}
	.xs-margin-up-md{ margin-top: $dist-md;}
	.xs-margin-left-md{ margin-left: $dist-md; }
	.xs-margin-right-md{ margin-right: $dist-md; }

	.xs-margin-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.xs-margin-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.xs-margin-down-sm{ margin-bottom: $dist-sm;}
	.xs-margin-up-sm{ margin-top: $dist-sm;}
	.xs-margin-left-sm{ margin-left: $dist-sm; }
	.xs-margin-right-sm{ margin-right: $dist-sm; }

	.xs-margin-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.xs-margin-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.xs-margin-down-lg{ margin-bottom: $dist-lg;}
	.xs-margin-up-lg{ margin-top: $dist-lg;}
	.xs-margin-left-lg{ margin-left: $dist-lg; }
	.xs-margin-right-lg{ margin-right: $dist-lg; }	

	.xs-margin-none{ margin-top: 0px; margin-bottom: 0px; }
	.xs-margin-sides-none{ margin-left: 0px; margin-right: 0px; }
}




