@media (min-width: 1200px) {

    .lg-bg-main{ background: $main !important; min-height: 1px; }
    .lg-bg-secondary{ 	background: $secondary; min-height: 1px; }
    .lg-bg-accent{ background: $accent; min-height: 1px; }
    .lg-bg-tertiary{ background: $tertiary; min-height: 1px; }
    .lg-bg-light{ background: $light; min-height: 1px; }
    .lg-bg-dark{ background: $dark; min-height: 1px; }
    .lg-bg-none{ background: none !important; }
    .lg-bg-danger{ background: $danger; min-height: 1px; }

}