@media (min-width: 1200px) {
    
  .lg-block{ display: block; }
  .lg-inline-block{ display: inline-block; }
  .lg-inline{ display: inline; }
  .lg-full-height { height: 100%; }
  .lg-full-width { width: 100%; }
  
}