@media (min-width: 1200px) {
    .lg-text-left { text-align: left; }
    .lg-text-right { text-align: right; }
    .lg-text-center { text-align: center; }

    .font-xs{ font-size: $lg-font-size-xs; }
    .font-sm{ font-size: $lg-font-size-sm; }
    .font-md{ font-size: $lg-font-size-md; }
    .font-lg{ font-size: $lg-font-size-lg; }

}
  