.bg-main{ background: $main !important; min-height: 1px; }
.bg-secondary{ 	background: $secondary; min-height: 1px; }
.bg-accent{ background: $accent; min-height: 1px; }
.bg-tertiary{ background: $tertiary; min-height: 1px; }
.bg-light{ background: $light; min-height: 1px; }
.bg-dark{ background: $dark; min-height: 1px; }

.bg-none{ background: none; }
.bg-danger{ background: $danger; }

.lighten-bg-dark-xs { background: lighten($dark, 10%) !important; min-height: 1px; }
.lighten-bg-dark-sm { background: lighten($dark, 30%) !important; min-height: 1px;}

.lighten-bg-main-xs { background: lighten($main, 10%) !important; min-height: 1px;}
.lighten-bg-main-sm { background: lighten($main, 30%) !important; min-height: 1px;}

.lighten-bg-secondary-xs { background: lighten($secondary, 10%) !important; min-height: 1px;}
.lighten-bg-secondary-sm { background: lighten($secondary, 30%) !important; min-height: 1px;}

.lighten-bg-accent-xs { background: lighten($accent, 10%) !important; min-height: 1px;}
.lighten-bg-accent-sm { background: lighten($accent, 30%) !important; min-height: 1px;}

.darken-bg-light-xs { background: darken($light, 10%) !important; min-height: 1px;}
.darken-bg-light-sm { background: darken($light, 30%) !important; min-height: 1px;}

.darken-bg-dark-xs { color: darken($dark, 10%) !important; min-height: 1px;}
.darken-bg-dark-sm { color: darken($dark, 30%) !important; min-height: 1px;}

.darken-bg-main-xs { background: darken($main, 10%) !important; min-height: 1px;}
.darken-bg-main-sm { background: darken($main, 30%) !important; min-height: 1px;}

.darken-bg-secondary-xs { background: darken($secondary, 10%) !important; min-height: 1px;}
.darken-bg-secondary-sm { background: darken($secondary, 30%) !important; min-height: 1px;}

.darken-bg-accent-xs { background: darken($accent, 10%) !important; min-height: 1px;}
.darken-bg-accent-sm { background: darken($accent, 30%) !important; min-height: 1px;}

.darken-bg-tertiary-xs { background: darken($tertiary, 10%) !important; min-height: 1px;}
.darken-bg-tertiary-sm { background: darken($tertiary, 30%) !important; min-height: 1px;}

.bg-dark-transparent-xs { background: rgba($dark, 0.1) !important; min-height: 1px;}
.bg-dark-transparent-sm { background: rgba($dark, 0.3) !important; min-height: 1px;}

.bg-dark-transparent-hover-xs:hover { background: rgba($dark, 0.1) !important; min-height: 1px;}
.bg-dark-transparent-hover-sm:hover { background: rgba($dark, 0.3) !important; min-height: 1px;}

.hover-bg-light:hover{ background: $light !important; min-height: 1px;}
.hover-bg-dark:hover{ background: $dark !important; min-height: 1px;}
.hover-bg-main:hover{ background: $main !important; min-height: 1px;}
.hover-bg-secondary:hover{ background: $secondary !important; min-height: 1px;}
.hover-bg-accent:hover{ background: $accent !important; min-height: 1px;}
.hover-bg-tertiary:hover{ background: $tertiary !important; min-height: 1px;}

.bg-light-hover-darken-xs:hover { background: darken($light, 10%) !important; min-height: 1px;}
.bg-light-hover-darken-sm:hover { background: darken($light, 30%) !important; min-height: 1px;}

.bg-dark-hover-darken-xs:hover { background: darken($dark, 10%) !important; min-height: 1px;}
.bg-dark-hover-darken-sm:hover { background: darken($dark, 30%) !important; min-height: 1px;}

.bg-main-hover-darken-xs:hover { background: darken($main, 10%) !important; min-height: 1px;}
.bg-main-hover-darken-sm:hover { background: darken($main, 30%) !important; min-height: 1px;}

.bg-secondary-hover-darken-xs:hover { background: darken($secondary, 10%) !important; min-height: 1px;}
.bg-secondary-hover-darken-sm:hover { background: darken($secondary, 30%) !important; min-height: 1px;}

.bg-tertiary-hover-darken-xs:hover { background: darken($tertiary, 10%) !important; min-height: 1px;}
.bg-tertiary-hover-darken-sm:hover { background: darken($tertiary, 30%) !important; min-height: 1px;}

.bg-accent-hover-darken-xs:hover { background: darken($accent, 10%) !important; min-height: 1px;}
.bg-accent-hover-darken-sm:hover { background: darken($accent, 30%) !important; min-height: 1px;}

.bg-dark-hover-lighten-xs:hover { background: lighten($dark, 10%) !important; min-height: 1px;}
.bg-dark-hover-lighten-sm:hover { background: lighten($dark, 30%) !important; min-height: 1px;}

.bg-main-hover-lighten-xs:hover { background: lighten($main, 10%) !important; min-height: 1px;}
.bg-main-hover-lighten-sm:hover { background: lighten($main, 30%) !important; min-height: 1px;}

.bg-secondary-hover-lighten-xs:hover { background: lighten($secondary, 10%) !important; min-height: 1px;}
.bg-secondary-hover-lighten-sm:hover { background: lighten($secondary, 30%) !important; min-height: 1px;}

.bg-accent-hover-lighten-xs:hover { background: lighten($accent, 10%) !important; min-height: 1px;}
.bg-accent-hover-lighten-sm:hover { background: lighten($accent, 30%) !important; min-height: 1px;}

.hover-opacity-xs:hover{ opacity : $opacity-xs; min-height: 1px;};
.hover-opacity-sm:hover{ opacity : $opacity-sm; min-height: 1px;};