.border-none{ border: none; }
.outline-none, .outline-none:focus, .outline:active { outline: 0 !important; }

.border{ border-style: solid; border-width: $border-thickness-default; }
.border-right { border-right-style: solid; border-width: $border-thickness-default;}
.border-left{ border-left-style: solid; border-width: $border-thickness-default;}
.border-top{ border-top-style: solid; border-width: $border-thickness-default;}
.border-bottom{ border-bottom-style: solid; border-width: $border-thickness-default;}

.border-xs{ border-width: $border-thickness-default; }
.border-sm{ border-width: $border-thickness-xs; }
.border-md{ border-width: $border-thickness-sm; }

.border-light{ border-color: $light; }
.border-dark{ border-color: $dark; }
.border-accent{ border-color: $accent; }
.border-secondary{ border-color: $secondary; }
.border-tertiary{ border-color: $tertiary; }
.border-main{ border-color: $main; }

.border-curved { border-radius: $border-radius; }
.border-curved-down { border-bottom-left-radius: $border-radius; border-bottom-right-radius: $border-radius; }
.border-curved-up { border-top-left-radius: $border-radius; border-top-right-radius: $border-radius; }
.border-curved-right { border-top-right-radius: $border-radius; border-bottom-right-radius: $border-radius; }
.border-curved-left { border-top-left-radius: $border-radius; border-bottom-left-radius: $border-radius; }

.hover-border-light:hover{ border-color: $light; }
.hover-border-dark:hover{ border-color: $dark;  }
.hover-border-main:hover{ border-color: $main; }
.hover-border-secondary:hover{ border-color: $secondary; }
.hover-border-accent:hover{ border-color: $accent; }
.hover-border-tertiary:hover{ border-color: $tertiary; }