.block{ display: block; }
.inline-block{ display: inline-block; }
.inline{ display: inline; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.overflow-hidden{ overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.height-auto{ height: auto; }
.width-auto{ width: auto; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }