	.reset-padding {
		padding: 0px;
	}
	
	.reset-padding-left { padding-left: 0; }
	.reset-padding-right { padding-right: 0; }
	.reset-padding-top { padding-top: 0; }
	.reset-padding-bottom { padding-bottom: 0; }
	.reset-padding-sides { padding-left: 0; padding-right: 0; }
	.reset-padding { padding-top: 0; padding-bottom: 0; }

	.padding-lg{ padding-top: $dist-lg; padding-bottom: $dist-lg;}
	.padding-sides-lg{ padding-left: $dist-lg; padding-right: $dist-lg; }
	.padding-down-lg{ padding-bottom: $dist-lg;}
	.padding-up-lg{ padding-top: $dist-lg;}
	.padding-left-lg{ padding-left: $dist-lg; }
    .padding-right-lg{ padding-right: $dist-lg; }
    
	.padding-md{ padding-top: $dist-md; padding-bottom: $dist-md;}
	.padding-sides-md{ padding-left: $dist-md; padding-right: $dist-md; }
	.padding-down-md{ padding-bottom: $dist-md;}
	.padding-up-md{ padding-top: $dist-md;}
	.padding-left-md{ padding-left: $dist-md; }
    .padding-right-md{ padding-right: $dist-md; }
    
	.padding-sm{ padding-top: $dist-sm; padding-bottom: $dist-sm;}
	.padding-sides-sm{ padding-left: $dist-sm; padding-right: $dist-sm; }
	.padding-down-sm{ padding-bottom: $dist-sm;}
	.padding-up-sm{ padding-top: $dist-sm;}
	.padding-left-sm{ padding-left: $dist-sm; }
    .padding-right-sm{ padding-right: $dist-sm; }
    
	.padding-xs{ padding-top: $dist-xs; padding-bottom: $dist-xs;}
	.padding-sides-xs{ padding-left: $dist-xs; padding-right: $dist-xs; }
	.padding-down-xs{ padding-bottom: $dist-xs;}
	.padding-up-xs{ padding-top: $dist-xs;}
	.padding-left-xs{ padding-left: $dist-xs; }
	.padding-right-xs{ padding-right: $dist-xs; }	

    
	.margin-lg{ margin-top: $dist-lg; margin-bottom: $dist-lg;}
	.margin-sides-lg{ margin-left: $dist-lg; margin-right: $dist-lg; }
	.margin-down-lg{ margin-bottom: $dist-lg;}
	.margin-up-lg{ margin-top: $dist-lg;}
	.margin-left-lg{ margin-left: $dist-lg; }
    .margin-right-lg{ margin-right: $dist-lg; }
    
	.margin-md{ margin-top: $dist-md; margin-bottom: $dist-md;}
	.margin-sides-md{ margin-left: $dist-md; margin-right: $dist-md; }
	.margin-down-md{ margin-bottom: $dist-md;}
	.margin-up-md{ margin-top: $dist-md;}
	.margin-left-md{ margin-left: $dist-md; }
    .margin-right-md{ margin-right: $dist-md; }
    
	.margin-sm{ margin-top: $dist-sm; margin-bottom: $dist-sm;}
	.margin-sides-sm{ margin-left: $dist-sm; margin-right: $dist-sm; }
	.margin-down-sm{ margin-bottom: $dist-sm;}
	.margin-up-sm{ margin-top: $dist-sm;}
	.margin-left-sm{ margin-left: $dist-sm; }
    .margin-right-sm{ margin-right: $dist-sm; }
    
	.margin-xs{ margin-top: $dist-xs; margin-bottom: $dist-xs;}
	.margin-sides-xs{ margin-left: $dist-xs; margin-right: $dist-xs; }
	.margin-down-xs{ margin-bottom: $dist-xs;}
	.margin-up-xs{ margin-top: $dist-xs;}
	.margin-left-xs{ margin-left: $dist-xs; }
	.margin-right-xs{ margin-right: $dist-xs; }	

	.reset-margin-left { margin-left: 0; }
	.reset-margin-right { margin-right: 0; }
	.reset-margin-top { margin-top: 0; }
	.reset-margin-bottom { margin-bottom: 0; }

	.reset-margin-sides { margin-left: 0; margin-right: 0; }
	.reset-margin { margin-top: 0; margin-bottom: 0; }

