
/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */

body * { color: $dark; }

/* ----------------- */
/* || --classes-- || */
/* ----------------- */

*.text-main *, *.text-main{ color: $main !important; }
*.text-secondary *, *.text-secondary{ color: $secondary !important; }
*.text-accent *, *.text-accent{ color: $accent !important; }
*.text-tertiary *, *.text-tertiary{ color: $tertiary !important; }
*.text-light *, *.text-light { color: $light !important; }
*.text-dark *, *.text-dark{ color: $dark !important; }

*.darken-text-main-xs *, *.text-main-darken-xs{ color: darken($main, 10%) !important; }
*.darken-text-main-sm *, *.text-main-darken-sm{ color: darken($main, 30%) !important; }

*.darken-text-secondary-xs *, *.text-secondary-darken-xs { color: darken($secondary, 10%) !important; }
*.darken-text-secondary-sm *, *.text-secondary-darken-sm { color: darken($secondary, 30%) !important; }

*.darken-text-accent-xs *, *.darken-text-accent-xs { color: darken($accent, 10%) !important; }
*.darken-text-accent-sm *, *.darken-text-accent-sm{ color: darken($accent, 30%) !important; }

*.darken-text-tertiary-xs *, *.darken-text-tertiary-xs{ color: darken($tertiary, 10%) !important; }
*.darken-text-tertiary-sm *, *.darken-text-tertiary-sm{ color: darken($tertiary, 30%) !important; }

*.lighten-text-dark-xs *, *.lighten-text-dark-xs{ color: lighten($dark, 10%) !important; }
*.lighten-text-dark-sm *, *.lighten-text-dark-sm{ color: lighten($dark, 30%) !important; }

*.lighten-text-main-xs *, *.lighten-text-dark-xs{ color: lighten($main, 10%) !important; }
*.lighten-text-main-sm *, *.lighten-text-dark-sm{ color: lighten($main, 30%) !important; }

*.lighten-text-secondary-xs *, *.lighten-text-dark-xs{ color: lighten($secondary, 10%) !important; }
*.lighten-text-secondary-sm *, *.lighten-text-dark-sm{ color: lighten($secondary, 30%) !important; }

*.lighten-text-accent-xs *, *.lighten-text-dark-xs{ color: lighten($accent, 10%) !important; }
*.lighten-text-accent-sm *, *.lighten-text-dark-sm{ color: lighten($accent, 30%) !important; }

*.lighten-text-tertiary-xs *, *.lighten-text-dark-xs{ color: lighten($tertiary, 10%) !important; }
*.lighten-text-tertiary-sm *, *.lighten-text-dark-sm{ color: lighten($tertiary, 30%) !important; }

*.hover-text-light:hover * ,*.hover-text-light:hover{ color: $light !important; }
*.hover-text-dark:hover * ,*.hover-text-dark:hover{ color: $dark !important; }
*.hover-text-main:hover * ,*.hover-text-main:hover{ color: $main !important; }
*.hover-text-secondary:hover * ,*.hover-text-secondary:hover{ color: $secondary !important; }
*.hover-text-accent:hover * ,*.hover-text-accent:hover{ color: $accent !important; }
*.hover-text-tertiary:hover * ,*.hover-text-tertiary:hover{ color: $tertiary !important; }

*.hover-darken-light:hover *, *.hover-darken-light:hover { background: darken($light, 10%) !important; }
*.hover-darken-main:hover *, *.hover-darken-main:hover { background: darken($main, 10%) !important; }
*.hover-darken-secondary:hover *, *.hover-darken-secondary:hover { background: darken($secondary, 10%) !important; }
*.hover-darken-accent:hover *, *.hover-darken-accent:hover { background: darken($accent, 10%) !important; }
*.hover-darken-tertiary:hover *, *.hover-darken-tertiary:hover { background: darken($tertiary, 10%) !important; }

*.hover-lighten-dark:hover *, *.hover-lighten-dark:hover { background: lighten($dark, 10%) !important; }
*.hover-lighten-main:hover *, *.hover-lighten-main:hover { background: lighten($main, 10%) !important; }
*.hover-lighten-secondary:hover *, *.hover-lighten-secondary:hover { background: lighten($secondary, 10%) !important; }
*.hover-lighten-accent:hover *, *.hover-lighten-accent:hover { background: lighten($accent, 10%) !important; }
*.hover-lighten-tertiary:hover *, *.hover-lighten-tertiary:hover { background: lighten($tertiary, 10%) !important; }