/* ----------------- */
/* || --classes-- || */
/* ----------------- */

.font-xs, button.font-xs{ font-size: $font-size-xs; }
.font-sm{ font-size: $font-size-sm; }
.font-md{ font-size: $font-size-md; }
.font-lg{ font-size: $font-size-lg; }



.letter-spacing-xs { letter-spacing: $letter-space-xs; }
.letter-spacing-sm { letter-spacing: $letter-space-sm; }

*.uppercase *, *.uppercase { text-transform: uppercase; }
*.lowercase *, *.lowercase { text-transform: lowercase; }
*.extra-bold *, *.extra-bold { font-weight: 800; }
*.bold *, *.bold { font-weight: 700; }
*.semi-bold *, *.semi-bold { font-weight: 600; }
*.regular *, *.regular { font-weight: 400; }
*.light *, *.light, .light::placeholder { font-weight: 300; }
*.thin *, *.thin { font-weight: 100; }
*.light *, *.light { font-weight: 300; }
*.italic *, *.italic { font-style: italic; }

*.hover-bold:hover *, *.hover-bold:hover{  @extend .bold; }
*.hover-semi-bold:hover *, *.hover-semi-bold:hover{ @extend .semi-bold; }
*.hover-thin:hover *, *.hover-thin:hover{  @extend .thin; }
*.hover-light:hover *, *.hover-light:hover{  @extend .light; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }


.line-height-xs{ line-height: $line-space-xs; }
.line-height-sm{ line-height: $line-space-sm; }