


/* --------------------------------------------- BLOCKS -------------------------------------------- */

/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */

/* ----------------- */
/* || --classes-- || */
/* ----------------- */

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}

.inline{
	display: inline;
}

.middle {
	vertical-align: middle;
}

.top {
	vertical-align: top;
}

.width-auto{
	height: 100%;
	width: auto;
}

.height-auto{
	width: 100%;
	height: auto;
}


.full-height { height: 100%; }
.full-width { width: 100%; }

reset-position-left {
	position: relative; 
	left: 0px;
}


reset-position-right {
	position: relative; 
	right: 0px;
}


reset-position-top {
	position: relative; 
	top: 0px;
}


reset-position-bottom {
	position: relative; 
	bottom: 0px;
}

/* -------------------------- */
/* || --class attaching -- || */
/* -------------------------- */

/* ------------------ */
/* || -- hovers -- || */
/* ------------------ */


.reset-position-left-hover:hover {
	position: relative; 
	left: 0px;
}


.reset-position-right-hover:hover {
	position: relative; 
	right: 0px;
}


.reset-position-top-hover:hover {
	position: relative; 
	top: 0px;
}


.reset-position-bottom-hover:hover {
	position: relative; 
	bottom: 0px;
}


.shift-left-xs {
	position: relative;
	left: 10px;
}

/* ----------------------- */
/* || --media queries-- || */
/* ----------------------- */ 




/* Large desktops and laptops */
@media (min-width: 1200px) { 

	.lg-block{ display: block; }
	.lg-inline-block{ display: inline-block; }
	.lg-inline{ display: inline; }

	.lg-width-auto{
		height: 100%;
		width: auto;
	}

	.lg-height-auto{
		width: 100%;
		height: auto;
	}


	.lg-full-height { height: 100%; }
	.lg-full-width { width: 100%; }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) { 

	.md-block{ display: block; }
	.md-inline-block{ display: inline-block; }
	.md-inline{ display: inline; }


	.md-width-auto{
		height: 100%;
		width: auto;
	}

	.md-height-auto{
		width: 100%;
		height: auto;
	}

	.md-full-height { height: 100%; }
	.md-full-width { width: 100%; }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

	.sm-block{ display: block; }
	.sm-inline-block{ display: inline-block; }
	.sm-inline{ display: inline; }

	.sm-width-auto{
		height: 100%;
		width: auto;
	}

	.sm-height-auto{
		width: 100%;
		height: auto;
	}

	.sm-full-height { height: 100%; }
	.sm-full-width { width: 100%; }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) { 

	.xs-block{ display: block; }
	.xs-inline-block{ display: inline-block; }
	.xs-inline{ display: inline; }

	.xs-width-auto{
		height: 100%;
		width: auto;
	}

	.xs-height-auto{
		width: 100%;
		height: auto;
	}

	.xs-full-height { height: 100%; }
	.xs-full-width { width: 100%; }
}

/* Portrait phones and smaller */
@media (max-width: 480px) { 

	.xs-block{ display: block; }
	.xs-inline-block{ display: inline-block; }
	.xs-inline{ display: inline; }


	.xs-width-auto{
		height: 100%;
		width: auto;
	}

	.xs-height-auto{
		width: 100%;
		height: auto;
	}

	.xs-full-height { height: 100%; }
	.xs-full-width { width: 100%; }
}

