

/* --------------------------------------------- FLOATS -------------------------------------------- */

/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */

/* ----------------- */
/* || --classes-- || */
/* ----------------- */


/* floats */

.float-left{ float: left; }
.float-right{ float: right; }


/* clear floats */

.clear-floats{ clear: both; }
.clear-right{ clear: both; }
.clear-left{ clear: left; }



/* -------------------------- */
/* || --class attaching -- || */
/* -------------------------- */

/* ------------------ */
/* || -- hovers -- || */
/* ------------------ */

/* ----------------------- */
/* || --media queries-- || */
/* ----------------------- */ 




/* Large desktops and laptops */
@media (min-width: 1200px) { 
	
	.lg-float-left{ float: left; }
	.lg-float-right{ float: right; }


	.lg-clear-floats{ clear: both; }
	.lg-clear-right{ clear: right; }
	.lg-clear-left{ clear: left; }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) { 

	.md-float-left{ float: left; }
	.md-float-right{ float: right; }

	.md-clear-floats{ clear: both; }
	.md-clear-right{ clear: right; }
	.md-clear-left{ clear: left; }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

	.sm-float-left{ float: left; }
	.sm-float-right{ float: right; }

	.sm-clear-floats{ clear: both; }
	.sm-clear-right{ clear: right; }
	.sm-clear-left{ clear: left; }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) { 
	
	.xs-float-left{ float: left; }
	.xs-float-right{ float: right; }

	.xs-clear-floats{ clear: both; }
	.xs-clear-right{ clear: right; }
	.xs-clear-left{ clear: left; }

}

/* Portrait phones and smaller */
@media (max-width: 480px) { 

	.xs-float-left{ float: left; }
	.xs-float-right{ float: right; }

	.xs-clear-floats{ clear: both; }
	.xs-clear-right{ clear: right; }
	.xs-clear-left{ clear: left; }
}
