

/* --------------------------------------------- TEXT TRANSFORMS AND FONT CLASSES -------------------------------------------- */


/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */


h1{ font-size: $font-size-xl; }
h2{ font-size: $font-size-lg; }
h3{ font-size: $font-size-md; }


/* ----------------- */
/* || --classes-- || */
/* ----------------- */



/* ---- font size classes ---- */


.font-xs{ font-size: $font-size-xs; }
.font-sm{ font-size: $font-size-sm; }
.font-md{ font-size: $font-size-md; }
.font-lg{ font-size: $font-size-lg; }

/* ---- letter spacing classes ---- */

.letter-spacing-xs { letter-spacing: $letter-space-xs; }
.letter-spacing-sm { letter-spacing: $letter-space-sm; }
.letter-spacing-md { letter-spacing: $letter-space-md; }
.letter-spacing-lg { letter-spacing: $letter-space-lg; }
.letter-spacing-xl { letter-spacing: $letter-space-xl; }

/* ---- line height classes ---- */

.line-height-xs { line-height: $line-height-xs; }
.line-height-sm { line-height: $line-height-sm; }
.line-height-md { line-height: $line-height-md; }
.line-height-lg { line-height: $line-height-lg; }
.line-height-xl { line-height: $line-height-xl; }

/* ---- font family classes ---- */


.font-main{ font-family: $font; }
.font-secondary{ font-family: $font-heading; }


/* ---- text appearance classes ---- */

div.uppercase *, .uppercase{ text-transform: uppercase; }
div.lowercase, .lowercase{ text-transform: lowercase; }
div.text-extra-bold, .text-extra-bold { font-weight: 800; }
div.text-bold, .text-bold { font-weight: 700; }
div.text-semi-bold, .text-semi-bold { font-weight: 600; }
div.text-regular, .text-regular { font-weight: 400; }
div.text-light, .text-light { font-weight: 300; }
div.text-thin, .text-thin { font-weight: 100; }
div.text-light, .text-light { font-weight: 300; }
div.text-italic, .text-italic { font-style: italic; }
div.text-oblique, .text-oblique { font-style: oblique; }

div.text-line-through, .text-line-through { text-decoration: line-through; }
div.text-underlined, .text-underlined { text-decoration: underline; }
div.text-overlined, .text-overlined { text-decoration: overline; }

/* ------------------ */
/* || -- hovers -- || */
/* ------------------ */

/* darken color hovers */

.hover-darken-light:hover { background: darken($light-color, 10%) !important; }
.hover-darken-dark:hover { background: darken($dark-color, 10%) !important; }
.hover-darken-main:hover { background: darken($main-color, 10%) !important; }
.hover-darken-secondary:hover { background: darken($secondary-color, 10%) !important; }
.hover-darken-accent:hover { background: darken($accent-color, 10%) !important; }


/* lighten color hovers */


.hover-lighten-light:hover { background: lighten($light-color, 10%) !important; }
.hover-lighten-dark:hover { background: lighten($dark-color, 10%) !important; }
.hover-lighten-main:hover { background: lighten($main-color, 10%) !important; }
.hover-lighten-secondary:hover { background: lighten($secondary-color, 10%) !important; }
.hover-lighten-accent:hover { background: lighten($accent-color, 10%) !important; }


/* ---- text color hovers ---- */


.text-hover-light:hover{ color: $light-color !important; }
.text-hover-dark:hover{ color: $dark-color !important; }
.text-hover-main:hover{ color: $main-color !important; }
.text-hover-secondary:hover{ color: $secondary-color !important; }
.text-hover-accent:hover{ color: $accent-color !important; }

/* ---- text properties hover ---- */

.text-hover-bold:hover{  @extend .text-bold; }
.text-hover-semi-bold:hover{ @extend .text-semi-bold; }
.text-hover-thin:hover{  @extend .text-thin; }
.text-hover-light:hover{  @extend .text-light; }
.text-hover-italic:hover{  @extend .text-italic; }
.text-hover-oblique:hover{  @extend .text-oblique; }

.uppercase{ text-transform: uppercase; }
.lowercase-hover:hover{ text-transform: lowercase; }
.text-extra-bold-hover:hover { font-weight: 800; }
.text-bold-hover:hover { font-weight: 700; }
.text-semi-bold-hover:hover { font-weight: 600; }
.text-regular-hover:hover { font-weight: 400; }
.text-light-hover:hover { font-weight: 300; }
.text-thin-hover:hover { font-weight: 100; }
.text-light-hover:hover { font-weight: 300; }
.text-italic-hover:hover { font-style: italic; }
.text-oblique-hover:hover { font-style: oblique; }

.text-hover-line-through:hover{  @extend .text-line-through; }
.text-hover-underlined:hover{  @extend .text-underlined; }
.text-hover-overlined:hover{  @extend .text-overlined; }


/* ----------------------- */
/* || --media queries-- || */
/* ----------------------- */


/* Large desktops and laptops */


@media (min-width: 1200px) {
	.lg-font-xs{ font-size: $font-size-xs; }
	.lg-font-sm{ font-size: $font-size-sm; }
	.lg-font-md{ font-size: $font-size-md; }
	.lg-font-lg{ font-size: $font-size-lg; }
}


/* Landscape tablets and medium desktops */


@media (min-width: 992px) and (max-width: 1199px) {
	.md-font-xs{ font-size: $font-size-xs; }
	.md-font-sm{ font-size: $font-size-sm; }
	.md-font-md{ font-size: $font-size-md; }
	.md-font-lg{ font-size: $font-size-lg; }
}


/* Portrait tablets and small desktops */


@media (min-width: 768px) and (max-width: 991px) {
	.sm-font-xs{ font-size: $font-size-xs; }
	.sm-font-sm{ font-size: $font-size-sm; }
	.sm-font-md{ font-size: $font-size-md; }
	.sm-font-lg{ font-size: $font-size-lg; }
}


/* Landscape phones and portrait tablets */


@media (max-width: 767px) {
	.xs-font-xs{ font-size: $font-size-xs; }
	.xs-font-sm{ font-size: $font-size-sm; }
	.xs-font-md{ font-size: $font-size-md; }
	.xs-font-lg{ font-size: $font-size-lg; }
}


/* Portrait phones and smaller */


@media (max-width: 480px) {
	.xs-font-xs{ font-size: $font-size-xs; }
	.xs-font-sm{ font-size: $font-size-sm; }
	.xs-font-md{ font-size: $font-size-md; }
	.xs-font-lg{ font-size: $font-size-lg; }
}
