

/* --------------------------------------------- TEXT AND HEADING COLORS -------------------------------------------- */


/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */

h1, h2, h3, h4, h5{ color: $dark-color; }

a{ color: $dark-color; }
p{ color: $dark-color; }


/* ----------------- */
/* || --classes-- || */
/* ----------------- */


.text-color-light{ color: $light-color !important; }
.text-color-dark{ color: $dark-color !important; }
.text-color-main{ color: $main-color !important; }
.text-color-secondary{ color: $secondary-color !important; }
.text-color-accent{ color: $accent-color !important; }

/* make text colors lighter */


/* make dark color lighter */


.text-color-dark-lighten-xs { color: lighten($dark-color, 10%) !important; }
.text-color-dark-lighten-sm { color: lighten($dark-color, 30%) !important; }
.text-color-dark-lighten-md { color: lighten($dark-color, 50%) !important; }
.text-color-dark-lighten-lg { color: lighten($dark-color, 70%) !important; }
.text-color-dark-lighten-xl { color: lighten($dark-color, 90%) !important; }


/* make text colors darker */


/* make light color darker */

.text-color-light-darken-xs { color: darken($light-color, 10%) !important; }
.text-color-light-darken-sm { color: darken($light-color, 30%) !important; }
.text-color-light-darken-md { color: darken($light-color, 50%) !important; }
.text-color-light-darken-lg { color: darken($light-color, 70%) !important; }
.text-color-light-darken-xl { color: darken($light-color, 90%) !important; }


/* make accent color darker */

.text-color-accent-darken-xs { color: darken($accent-color, 10%) !important; }
.text-color-accent-darken-sm { color: darken($accent-color, 30%) !important; }
.text-color-accent-darken-md { color: darken($accent-color, 50%) !important; }
.text-color-accent-darken-lg { color: darken($accent-color, 70%) !important; }
.text-color-accent-darken-xl { color: darken($accent-color, 90%) !important; }


/* make accent color darker */

.text-color-secondary-darken-xs { color: darken($secondary-color, 10%) !important; }
.text-color-secondary-darken-sm { color: darken($secondary-color, 30%) !important; }
.text-color-secondary-darken-md { color: darken($secondary-color, 50%) !important; }
.text-color-secondary-darken-lg { color: darken($secondary-color, 70%) !important; }
.text-color-secondary-darken-xl { color: darken($secondary-color, 90%) !important; }


/* make accent color darker */

.text-color-main-darken-xs { color: darken($main-color, 10%) !important; }
.text-color-main-darken-sm { color: darken($main-color, 30%) !important; }
.text-color-main-darken-md { color: darken($main-color, 50%) !important; }
.text-color-main-darken-lg { color: darken($main-color, 70%) !important; }
.text-color-main-darken-xl { color: darken($main-color, 90%) !important; }


/* -------------------------- */
/* || --class attaching -- || */
/* -------------------------- */


h1.text-color-light, 
h2.text-color-light, 
h3.text-color-light, 
h4.text-color-light, 
h5.text-color-light, 
span.text-color-light, 
p.text-color-light, 
a.text-color-light, 
input.text-color-light { color: $light-color; } 

.text-color-light::-webkit-input-placeholder { /* Chrome */
  color: $light-color;
}
.text-color-light:-ms-input-placeholder { /* IE 10+ */
  color: $light-color;
}
.text-color-light::-moz-placeholder { /* Firefox 19+ */
  color: $light-color;
  opacity: 1;
}
.text-color-light:-moz-placeholder { /* Firefox 4 - 18 */
  color: $light-color;
  opacity: 1;
}

div.text-color-light * {
	color: $light-color;
}

h1.text-color-dark, 
h2.text-color-dark, 
h3.text-color-dark, 
h4.text-color-dark, 
h5.text-color-dark, 
span.text-color-dark, 
p.text-color-dark, 
a.text-color-dark,
input.text-color-dark, 
::-webkit-input-placeholder > .text-color-dark,
:-ms-input-placeholder > .text-color-dark,
::-moz-placeholder > .text-color-dark, 
:-moz-placeholder > .text-color-dark { color: $dark-color; }

div.text-color-dark *  {
	color: $dark-color;
}

.text-color-dark::-webkit-input-placeholder { /* Chrome */
  color: $dark-color;
}
.text-color-dark:-ms-input-placeholder { /* IE 10+ */
  color: $dark-color;
}
.text-color-dark::-moz-placeholder { /* Firefox 19+ */
  color: $dark-color;
  opacity: 1;
}
.text-color-dark:-moz-placeholder { /* Firefox 4 - 18 */
  color: $dark-color;
  opacity: 1;
}

h1.text-color-main, 
h2.text-color-main, 
h3.text-color-main, 
h4.text-color-main, 
h5.text-color-main, 
span.text-color-main, 
p.text-color-main, 
a.text-color-main, 
::placeholder .text-color-main{ color: $main-color; }

div.text-color-main * {
	color: $main-color;
}

.text-color-main::-webkit-input-placeholder { /* Chrome */
  color: $main-color;
}
.text-color-main:-ms-input-placeholder { /* IE 10+ */
  color: $main-color;
}
.text-color-main::-moz-placeholder { /* Firefox 19+ */
  color: $main-color;
  opacity: 1;
}
.text-color-main:-moz-placeholder { /* Firefox 4 - 18 */
  color: $main-color;
  opacity: 1;
}


h1.text-color-secondary, 
h2.text-color-secondary, 
h3.text-color-secondary, 
h4.text-color-secondary, 
h5.text-color-secondary, 
span.text-color-secondary, 
p.text-color-secondary, 
a.text-color-secondary,
::placeholder .text-color-secondary{ color: $secondary-color; }

div.text-color-secondary *  {
	color: $secondary-color;
}

.text-color-secondary::-webkit-input-placeholder { /* Chrome */
  color: $secondary-color;
}
.text-color-main:-ms-input-placeholder { /* IE 10+ */
  color: $secondary-color;
}
.text-color-secondary::-moz-placeholder { /* Firefox 19+ */
  color: $secondary-color;
  opacity: 1;
}
.text-color-secondary:-moz-placeholder { /* Firefox 4 - 18 */
  color: $secondary-color;
  opacity: 1;
}

h1.text-color-accent, 
h2.text-color-accent, 
h3.text-color-accent, 
h4.text-color-accent, 
h5.text-color-accent, 
span.text-color-accent, 
p.text-color-accent, 
a.text-color-accent,
::placeholder > .text-color-accent{ color: $accent-color; }

div.text-color-accent *  {
	color: $accent-color;
}

.text-color-accent::-webkit-input-placeholder { /* Chrome */
  color: $accent-color;
}
.text-color-accent:-ms-input-placeholder { /* IE 10+ */
  color: $accent-color;
}
.text-color-accent::-moz-placeholder { /* Firefox 19+ */
  color: $accent-color;
  opacity: 1;
}
.text-color-accent:-moz-placeholder { /* Firefox 4 - 18 */
  color: $accent-color;
  opacity: 1;
}




/* ------------------ */
/* || -- hovers -- || */
/* ------------------ */



/* ----------------------- */
/* || --media queries-- || */
/* ----------------------- */


	/* Large desktops and laptops */
	@media (min-width: 1200px) { 
		.lg-text-color-light{ color: $light-color !important; }
		.lg-text-color-dark{ color: $dark-color !important; }
		.lg-text-color-main{ color: $main-color !important; }
		.lg-text-color-secondary{ color: $secondary-color !important; }
		.lg-text-color-accent{ color: $accent-color !important; }


		/* text hovers */

		.lg-text-hover-light:hover{ color: $light-color !important; }
		.lg-text-hover-dark:hover{ color: $dark-color !important; }
		.lg-text-hover-main:hover{ color: $main-color !important; }
		.lg-text-hover-secondary:hover{ color: $secondary-color !important; }
		.lg-text-hover-accent:hover{ color: $accent-color !important; }

	}

	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) { 
		.md-text-color-light{ color: $light-color !important; }
		.md-text-color-dark{ color: $dark-color !important; }
		.md-text-color-main{ color: $main-color !important; }
		.md-text-color-secondary{ color: $secondary-color !important; }
		.md-text-color-accent{ color: $accent-color !important; }

		.md-text-hover-light:hover{ color: $light-color !important; }
		.md-text-hover-dark:hover{ color: $dark-color !important; }
		.md-text-hover-main:hover{ color: $main-color !important; }
		.md-text-hover-secondary:hover{ color: $secondary-color !important; }
		.md-text-hover-accent:hover{ color: $accent-color !important; }
	}

	/* Portrait tablets and small desktops */
	@media (min-width: 768px) and (max-width: 991px) { 
		.sm-text-color-light{ color: $light-color !important; }
		.sm-text-color-dark{ color: $dark-color !important; }
		.sm-text-color-main{ color: $main-color !important; }
		.sm-text-color-secondary{ color: $secondary-color !important; }
		.sm-text-color-accent{ color: $accent-color !important; }

		.sm-text-hover-light:hover{ color: $light-color !important; }
		.sm-text-hover-dark:hover{ color: $dark-color !important; }
		.sm-text-hover-main:hover{ color: $main-color !important; }
		.sm-text-hover-secondary:hover{ color: $secondary-color !important; }
		.sm-text-hover-accent:hover{ color: $accent-color !important; }

	}

	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) { 
		.xs-text-color-light{ color: $light-color !important; }
		.xs-text-color-dark{ color: $dark-color !important; }
		.xs-text-color-main{ color: $main-color !important; }
		.xs-text-color-secondary{ color: $secondary-color !important; }
		.xs-text-color-accent{ color: $accent-color !important; }

		.xs-text-hover-light:hover{ color: $light-color !important; }
		.xs-text-hover-dark:hover{ color: $dark-color !important; }
		.xs-text-hover-main:hover{ color: $main-color !important; }
		.xs-text-hover-secondary:hover{ color: $secondary-color !important; }
		.xs-text-hover-accent:hover{ color: $accent-color !important; }

	}

	/* Portrait phones and smaller */
	@media (max-width: 480px) { 
		.xs-text-color-light{ color: $light-color !important; }
		.xs-text-color-dark{ color: $dark-color !important; }
		.xs-text-color-main{ color: $main-color !important; }
		.xs-text-color-secondary{ color: $secondary-color !important; }
		.xs-text-color-accent{ color: $accent-color !important; }

		.xs-text-hover-light:hover{ color: $light-color !important; }
		.xs-text-hover-dark:hover{ color: $dark-color !important; }
		.xs-text-hover-main:hover{ color: $main-color !important; }
		.xs-text-hover-secondary:hover{ color: $secondary-color !important; }
		.xs-text-hover-accent:hover{ color: $accent-color !important; }

	}
